<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ request.url_for('static', path='styles.css') }}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
            {% if user %}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>

    <main>
    <div id="content">{% block content %}{% endblock %}</div>
    </main>
    
    <div id="footer">
        {% block footer %}
        <p>&copy; CodeArena 2025</p>
        {% endblock %}
    </div>
</body>
</html>